html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app {
  position: absolute;
}
emoji-picker {
  --input-padding: 0.5rem;
  --input-border-radius: 0;
  box-shadow: 0 10px 15px -3px hsl(0deg 0% 0% / 0.1),0 4px 6px -2px hsl(0deg 0% 0% / 0.05);
}